.sp_AdpcvoiMYf9{background-image:url(/rsrc.php/v3/yG/r/OcOuC5vm3rq.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:32px;width:32px}.sp_AdpcvoiMYf9.sx_b0c45e{background-position:0 0}

#bootloader_eLsoQMJ{height:42px;}.bootloader_eLsoQMJ{display:block!important;}